<%! from django.utils.translation import ugettext as _ %>

<%namespace name='static' file='static_content.html'/>
<%! from django.conf import settings %>
<%! from django.core.urlresolvers import reverse %>
<%! from django_countries.countries import COUNTRIES %>
<%! from student.models import UserProfile %>
<%! from datetime import date %>
<%! import calendar %>

<section id="signup-modal" class="modal signup-modal">
  <div class="inner-wrapper">
    <button class="close-modal">&#10005; <span class="sr">${_('Close Modal')}</span></button>
  </div>
</section>

<script type="text/javascript">
  (function() {
   // removing close link's default behavior
   $('#login-modal .close-modal').click(function(e) {
    e.preventDefault();
   });
  })(this)
</script>
